<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if enhanced_cart.count > 0 %>
    <%= render 'cart' %>
  <% else %>
    <p>Your cart is empty, try adding some items.</p>
    <p>Go <%= link_to 'home', root_path %>.</p>
  <% end %>


</section>
